<div
  class="mb-2 px-4 py-2 bg-primary-subtle text-emphasis-primary border border-primary"
  id=`blog-{{id}}`
>
  <div class="d-flex flex-row align-items-center justify-content-between">
    <p class="display-6">{{title}}</p>
    <p class="">By {{user.user_name}} at {{created_at}}</p>
  </div>
</div>