<h1>Dashboard</h1>
{{#each blogs as |b|}}
{{> detailblog blog=b }}
{{/each}}
<button
  type="button"
  class="btn btn-outline-success"
  id="create-blog-button"
  onclick="goToCreatePage()"
>Create a New Post</button>

<script src="/js/dashboard.js"></script>