<h1>Dashboard</h1>
<div>
  Show my current blogs
</div>

<button
  type="button"
  class="btn btn-outline-success"
  id="create-blog-button"
  onclick="goToCreatePage()"
>Create a New Post</button>

<script src="/js/dashboard.js"></script>